@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Galaxy';
        src: url('./fonts/SFDistantGalaxy.ttf') format('truetype');
        font-weight: 100;
        font-style: normal;
        font-display: swap;
    }
}